h1 {
  color: #ef8354;
}
html {
  height: 100%;
}
body {
  background-color: whitesmoke !important;
  margin: 0;
  min-height: 100vh;
}

.logo {
  height: 100px;
  width: 100px;
  display: flex;
  padding: 20px;
  display: block;
}
.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 13px;
}

.navbar-nav {
  font-size: 16px;
  justify-content: space-between;
}

.btn {
  text-decoration: none;
  font-size: 20px;
  padding: 14px 34px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin: 5px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
  background-color: #961f1f49;
}
.publicidad-logitech {
  display: block;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.publicidad-arma-tu-pc {
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
.img-publicidad {
  display: grid;
  justify-content: space-around;
}

.container-destacados {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));
  justify-items: center;
}
.destacados-titulo {
  text-align: center;
  font-size: 40px;
  font-family: "Lato", "Montserrat";
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.container-cards {
  width: 100%;
  align-items: center;
  font-family: "Lato", "Montserrat";
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}
.card {
  display: flex;
  margin-top: 10px;
  text-align-last: center;
}
.image-card {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.header-contenedor {
  background-color: rgb(50, 57, 35);
}

.footer {
  display: flex;
  justify-content: space-between;
}
.footerMap {
  display: flex;
  align-items: center;
  width: 40%;
  gap: 48px;
}
.mapa {
  height: 300px;
  width: 400px;
}
.posicion-footer {
  height: 300px;
  width: 300px;
}

.contenedor-texto {
  display: flex;
  align-items: center;
  width: 40%;
  gap: 48px;
}

.texto-quienes-somos {
  font-size: 20px;
  font-family: "Lato", "Montserrat";
  font-weight: bold;
}
.texto-redes {
  font-size: 40px;
  font-family: "Lato", "Montserrat";
  font-weight: bold;
}

.contenedor-iconos-redes {
  display: flex;
  gap: 8px;
}
.contenedor-iconos-redes i {
  font-size: 40px;
}

.perfil {
  height: 80px;
  width: 80px;
}

.carrrito {
  height: 80px;
  width: 80px;
}
/* Media query */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) {
  .slider {
    width: 93%;
  }

  .titulo {
    font-size: 35px;
  }
  .card {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .slider {
    width: 75%;
  }
  .titulo {
    font-size: 50px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*:::::Pie de Pagina*/
.pie-pagina {
  width: 100%;
  background-color: #0a141d;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}
.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}
.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
